@import 'src/assets/styles/mixins';

.content {
  padding: 2rem;
  border-radius: 20px;
  background: var(--white);
  display: flex;

  @include max-tablet {
    flex-direction: column;
  }
}

.detailsImage {
  width: 100px;
  height: 100px;
  background: var(--silver);
  padding: 12px;
  border-radius: 12px;
  margin: 0 2rem 2rem 0;
}
