.homeItem {
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background: white;
  }
}

.homeItemSection {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #bbbbbb;
}

.homeIcon {
  height: 20px;
  width: 20px;
  background: #bbbbbb;
  padding: 6px;
  border-radius: 6px;
  display: flex;
  transition: 0.3s;

  .homeItem:hover & {
    background: #8d8d8d;
    transform: scale(1.05);
  }
}

.homeExternalLink {
  opacity: 0;
  transition: 0.3s;
  background: #bbbbbb;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;

  .homeItem:hover & {
    opacity: 1;
  }
}
