.homeItem {
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background: var(--white);
  }
}

.homeItemSection {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid var(--silver);
}

.homeIcon {
  height: 20px;
  width: 20px;
  background: var(--silver);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  transition: 0.3s;

  .homeItem:hover & {
    background: var(--green);
    transform: scale(1.05);
  }
}

.homeExternalLink {
  opacity: 0;
  transition: 0.3s;
  background: var(--mine-haft);
  color: var(--white);
  padding: 5px;
  border-radius: 6px;
  margin-left: auto;

  .homeItem:hover & {
    opacity: 1;
  }
}
