@import 'src/assets/styles/mixins';

.navigation {
  background: var(--white);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--mercury);
  border-bottom-left-radius: 2rem;

  @include media-breakpoint-up(lg) {
    border-bottom-left-radius: 0;
    border-top-right-radius: 2rem;
  }
}

.logo {
  height: 30px;
  transition: 0.3s;

  @include media-breakpoint-up(lg) {
    height: 40px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
