@import 'src/assets/styles/mixins';

.navigation {
  background: var(--white);
  padding: 1rem;
  box-shadow: 4px 4px 12px 0 var(--mercury);
}

.logo {
  height: 30px;
  transition: 0.3s;

  @include min-tablet {
    height: 40px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
