@import 'src/assets/styles/mixins';

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 20px;
  transition: 0.3s;
  background: var(--white);
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    background: transparent;
    box-shadow: none;

    &:hover {
      background: var(--white);
      box-shadow: var(--box-shadow);
    }
  }
}

.listItemSection {
  @include media-breakpoint-down(lg) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--silver);
  }

  @include media-breakpoint-up(lg) {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid var(--silver);
  }
}

.listIcon {
  height: 40px;
  width: 40px;
  background: var(--silver);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  transition: 0.3s;

  .listItem:hover & {
    background: var(--green);
    transform: scale(1.05);
  }
}

.externalLink {
  transition: 0.3s;
  background: var(--mine-haft);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 0.5rem;

  @include media-breakpoint-up(lg) {
    margin-left: auto;
    opacity: 0;

    .listItem:hover & {
      opacity: 1;
    }
  }
}
