@import 'src/assets/styles/mixins';

.listItem {
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.3s;

  @include max-tablet {
    flex-direction: column;
  }

  &:hover {
    background: var(--white);
  }
}

.listItemSection {
  @include max-tablet {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--silver);
  }

  @include min-tablet {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid var(--silver);
  }
}

.icon {
  height: 20px;
  width: 20px;
  background: var(--silver);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  transition: 0.3s;

  .listItem:hover & {
    background: var(--green);
    transform: scale(1.05);
  }
}

.externalLink {
  opacity: 0;
  transition: 0.3s;
  background: var(--mine-haft);
  color: var(--white);
  padding: 5px;
  border-radius: 6px;

  @media screen and (min-width: 801px) {
    margin-left: auto;
  }

  .listItem:hover & {
    opacity: 1;
  }
}
