html {
  font-family: 'Nunito', sans-serif;
  background: var(--gallery);
  color: var(--mine-haft);
  height: 100vh;
  font-size: 14px;

  @include min-tablet {
    font-size: 16px;
  }
}

#root,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--silver);
}

p {
  margin-bottom: 0.5rem;
}

.no-border {
  border: none !important;
}
