:root {
  --gallery: #eeeeee;
  --mine-haft: #232323;
  --white: white;
  --mercury: #e5e5e5;
  --black: black;
  --silver: #bbbbbb;
  --green: #24d3b6;
  --box-shadow: 4px 4px 12px 0 var(--mercury);
}
